<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    {{!--style--}}
    <link rel='stylesheet' href='/vendor/uikit/dist/css/uikit.min.css' />
    <link rel='stylesheet' href='/css/style.css' />

    {{!--shaders--}}
    {{> sem_shader}}

    {{!--script--}}
    <script src='/vendor/jquery/dist/jquery.min.js'></script>
    <script src='/vendor/uikit/dist/js/uikit.min.js'></script>
    <script src='/vendor/uikit/dist/js/uikit-icons.min.js'></script>
    <script src='/vendor/three.js/build/three.min.js'></script>
    <script src='/vendor/three.js/examples/js/ShaderToon.js'></script>
    <script src='/vendor/stats.js/build/stats.min.js'></script>
    <script src='/js/MarchingCubes.js'></script>
    <script src='/js/ImprovedNoise.js'></script>
    <script src='/js/BlobFactory.js'></script>
    <script src='/js/OrbitControls.js'></script>
    <script src='/js/script.js'></script>

  </head>
  <body class="uk-padding-remove">
    {{{body}}}
  </body>
</html>
